*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.carousel-item img{
  width: 100%;
  max-height: 92.5vh;
}

.my_image1{
  max-width: 100%;
  display: block;
  height: auto;
}

.intro_text{
  font-family: 'Montserrat', sans-serif;
}

.card{
  padding-left: 10px;;
}

.social_img1{
  max-height: 50px;
  max-width: 50px;
  
}

.social_img2{
  max-height: 50px;
  max-width: 50px;
 
}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) { 
  
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}